@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/buttons";

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
    @media (max-width:767px) {
        margin: 10px;
    }
}

h1,
h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -1.8px;
  max-width: 500px !important;
    @media (max-width:1536px) {
        font-size: 2.8rem;
    }
    @media (max-width:767px) {
        font-size: 30px;
    }
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  max-width: 500px !important;
  @media (max-width:1536px) {
    font-size: 1.6rem;
  }
}

p {
  font-family: "Satoshi-Medium", sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  max-width: 500px !important;

  &.text-lg {
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 18px;
    color: rgba(#000, 0.8);
  }
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

h3 + p {
  margin-top: 16px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
    &.register{
      background: rgba(0, 0, 0, 0.04);
      backdrop-filter: blur(3.5px);
      
    }
  @media (max-width:990px) {
    background-color: #fbfbfb;
  }
  .container {
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      @media (max-width:990px) {
          padding: 10px;
          margin: 0;
      }

    .logo {
      height: 50px;
      @media (max-width:767px) {
       
      }
    }
    .downloadapp{
      img{ display: none; }

      @media (max-width:767px) {
        text-indent: -999px;
        width: 46px;
        height: 46px;
        padding: 0;
        .text{
          display: none;
        }
          img{ display: flex;     justify-content: center; margin: 0 auto;
            align-items: center; }
      }
    }
    .menu-icon{
      @media (max-width:767px) {
        padding: 10px 10px;
      }
      img{
        @media (max-width:767px) {
          max-width: 30px;
        }
      }
    }
  }
}

.hero {
  background-image: url(../img/hero-home.png); 
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
    &.heroTwo{
         background: #F4F4F6 url(../img/hero-2.png);
         background-size: 94% auto;
         background-repeat: no-repeat;
         background-position: right bottom;
            @media (max-width:1536px) {
              background-size: 64% auto;
            }
    
        }   
    h1{
      span{
        color: #3B82F6;
      }
      @media (max-width:767px) {
        font-size: 2.2rem;
        text-align: center;
      }
    }
  @media (max-width:767px) {
    background-image: url(../img/hero-home-mobile.jpg); 
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: flex-start;
    padding-top: 80px;
    justify-content: center;
    background-color: #fbfbfb;
    
  }
  .container {
    max-width: 450px;
    padding: 100px;
    @media (max-width:767px) {
        padding: 15px 30px;
        margin: 0;
        text-align: center;
    }

    p {
      margin: 15px 0 25px 0;
      @media (max-width:767px) {
        text-align: center;
      }
    }
  }
}

section {
  margin: 30px auto;
  border-radius: 20px;
  height: calc(100vh - 40px);
  width: 100%;
  display: grid;

  article {
    border-radius: 20px;
    border: 5px solid white;
    padding: 40px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
      @media (max-width:1536px) {
          padding: 30px;
      }

    p {
      max-width: 66ch;
      font-weight: 500;
    }

    img {
      position: absolute;
      width: calc(100vw - 40px);
      height: calc(100vh - 40px);
      object-fit: cover;
      object-position: top;
      z-index: -1;
      border-radius: 20px;
    }

    .downloadIcons{
      a{
          img{
            position: static;
            z-index: 0;
            width: auto;
            height: auto;
            border-radius: 0; 

          }   
      }
    }


  }
}

.text-el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

      @media (max-width:1536px) {
          h2{ max-width: 350px !important; }
      }

  &--blurred {
    * {
      color: white;
    }

    img {
      filter: blur(6px) brightness(90%);
    }
  }

  &--dark {
    color: white;
    background-color: black;

    .text-lg {
      color: rgba(white, 0.8);
    }
  }
}

#home {
  &__solution {
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(3, 1fr);

      @media (max-width:767px) {
          display: block;
      }

    .el {
      &-1 {
        grid-column: span 1;
        grid-row: span 3;
        @media (max-width:767px) {
          img{
            position: inherit;
          }
        }
      }
      &-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        @media (max-width:767px) {
          img{display: none;}
        }
      }
      &-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        @media (max-width:767px) {
          img{display: none;}
        }
      }
      &-4 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        @media (max-width:767px) {
          img{display: none;}
        }
      }
      &-5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      &-6 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
      }
    }
      @media (max-width:767px) {
          display: none;
      }
  }

  &__solutionMobile { height: auto; display: none;
      @media (max-width:767px) {
          display: block;
      }
      .el-1{ background: #e2e2e2; padding: 40px 0px 0;
        border-radius: 10px;
        h2{ font-size: 38px; text-align: center; padding:0 20px; }
        img{ max-width: 100%; border-radius: 10px; }
      }

      .el-2{ margin-top: 20px; border-radius: 10px;  background: #e2e2e2; padding:20px 15px;
        min-height: 215px; display: flex; flex-direction: column; justify-content: space-between;
        box-sizing: border-box;
        h2{ font-size: 26px; margin-bottom: 0; }
       
      }

      .text-el--dark{
        background: #000;
      }
    

  }
 

  &__cost,
  &__audience {
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2, 1fr);
      @media (max-width:767px) {
        grid-template-rows: repeat(1fr, 1fr);
        grid-template-columns: 100%;
        display: block;
        height: auto;
      }

    .el {
      &-1 {
        grid-column: span 1;
        grid-row: span 2;
        @media (max-width:767px) {
          display: block; 
        }
      }
      &-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }

  &__cost{
    @media (max-width:767px) {
      display: none;
    }
  }
  &__costMobile{ display: none;
    @media (max-width:767px) {
      display: block;
      max-width: 360px;
      margin: 0 auto;
      .el-1{
        
       border-radius: 10px;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
     background: url(../img/image2-mobile.png) no-repeat center bottom ; 
     background-color: #f0f1f3;
     min-height: 630px;
     padding: 30px;
          .descpertion{
            padding: 30px 30px 0;
          }

          .blueDote{width: 7px; height: 7px; margin-left: 5px; background: #3B82F6; display: inline-flex; border-radius: 50%; }
          .orangeDote{width: 7px; height: 7px; background: #FBBF24; margin-left: 5px;  display: inline-flex; border-radius: 50%; }
      }
      .el-2{
          background: #ECEEF2;
          padding: 30px;
          margin-top: 10px;
          border-radius: 10px;
      }

      img{
        max-width: 100%;
      }
    }
  }


  &__howitworks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @media (max-width:767px) {
      display: none;
    }

    .el {
      &-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      &-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &-3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }
  }
  &__howitworksMobile {
    display: none;
      @media (max-width:767px) {
          display: block;
          height: auto;
            img{ max-width: 100%; }
            .text-el {
              padding: 30px;
              border-radius: 10px;
              min-height: 215px;
                h2{ font-size: 2rem; }
            }

            ul.tabs-list li.tab {
              margin-right: 0;
              h3{
                font-size: 16px;
              }
            
            }
            ul.cards{ overflow-x: auto; gap: 5px;
              li{ width: 200px; }
            }
            

            .tab-container{
              padding: 0px;
              overflow: hidden;
            }
      }
  }
  &__audience {
    .el {
      &-1 {
        position: relative;
        @media (max-width:767px) {
          background: #e1e2e6;  
          padding: 15px;
          padding-bottom: 0;
        }

        img.support-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 2 !important;
          object-fit: cover;
            
          @media (max-width:767px) {
              position: inherit; 
              display: none;
          }
        }

        img.mobile-support-img{
          display: none;
          @media (max-width:767px) {
            display: block;
            height: auto;
          }
        }
        h2{
          @media (max-width:767px) {
          font-size: 34px;
          text-align: center;
          margin-bottom: 10px;
        }
        }
        h2,
        p {
          max-width: 400px;
          @media (max-width:1536px) {
              max-width: 350px !important;
          }
          @media (max-width:767px) {
            text-align: center;
            max-width: 100% !important;
          }
        }
      }
      &-2{
          @media (max-width:767px) {
              background: #d8d9dd;
          }
      }
    }
  }

  &__zerocost {
    @media (max-width:767px) {
        display: none;
    }
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .el {
      &-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
      &-2 {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
      }
      &-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      &-4 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
      }
    }
  }

  &__zerocostMobile {
        display: none;
          
        @media (max-width:767px) {
            display: block;
            height: auto;
           
            img{
              max-width: 100%;
            }

            .el-2{ margin-top: 5px; border-radius: 10px;  background: #000; padding:20px 15px; margin-bottom: 30px;
              min-height: 215px; display: flex; flex-direction: column; justify-content: space-between;
              box-sizing: border-box;
              h2{ font-size: 26px; margin-bottom: 20px; }
             
            }

            .el-3{
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(1, 1fr);
                div{
                  border: 5px solid white;
                }
            }


        }

  }

  &__amazon-credits {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
        @media ( max-width:767px) {
            height: auto;
            display: flex;
            flex-direction: column;
              .el-3{
                order: 2;
              }
              .el-4{
                order: 1;
                min-height:430px;
              }

              p{
                margin: 30px 0 20px;
              }
        }
    .el {
      // &-1 {
      //   grid-column: 1 / 2;
      //   grid-row: 1 / 2;
      // }
      // &-2 {
      //   grid-column: 2 / 3;
      //   grid-row: 1 / 2;
      // }
      &-3 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
      &-4 {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }
    }
  }
  &__specialities {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

        @media (max-width:767px) {
          background:#F3F3F3 url(../img/image9-mobile.png);
          background-size: 100% auto;
          background-position: bottom center;
          background-repeat: no-repeat;
          height: auto;
          display: flex;
          width: 100%;
          padding: 20px 5px;
          box-sizing: border-box;
          flex-wrap: wrap;
          min-height: 850px;
            .article__bg{ display: none;  }
            article{
              border: none;
              width: 48%;
              color: #fff;
              box-sizing: border-box;
              padding: 10px;
              background: rgba(217, 217, 217, 0.3);
              backdrop-filter: blur(42px);
              /* Note: backdrop-filter has minimal browser support */
              margin:0 1%;
              border-radius: 10px;
              margin-bottom: 10px;
              min-height: 160px;
              .number{
                border-color: #fff;
                color: #fff;
                align-self: end;
              }
                  &:nth-child(even){
                  
                  }
            }
            .el-2 { visibility: hidden; }
            .el-1{ width: 100%; background: none;   backdrop-filter: blur(0px); color: #000; } 
        }

    .el {
      &-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
      &-2 {
        grid-column: 3 / 5;
        grid-row: 1 / 4;
      }
      &-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &-5 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      &-6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
      &-7 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;

        .number {
          color: white;
          border-color: white;
        }
      }
    }
  }
}

.number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  color: black;
}

ul.tabs-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li.tab {
    position: relative;
    padding: 10px;
    margin-right: 20px;

    h3 {
      color: rgba(black, 0.5);
      transition: all 240ms linear;
      font-size: 1.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 40px;
      height: 3px;
      border-radius: 200px;
      background: black;
      transform-origin: left center;
      transform: scaleX(0);
      transition: all 240ms linear;
    }

    &:hover {
      cursor: pointer;

      h3 {
        color: black;
      }
    }

    &.active {
      h3 {
        color: black;
      }

      &::before {
        transform: scaleX(1);
      }
    }
  }
}

ul.cards {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 0px;

  &.active {
    margin-top: -10px;
    height: auto;

    li {
      opacity: 1;
      transform: translateX(0);
    }
  }

  li {
    background: rgba(#e6e6e6, 0.5);
    padding: 40px 20px;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    opacity: 0;
    transform: translateX(-10%);
    transition: all 220ms linear;

    &:nth-child(1) {
      transition-delay: 0ms;
    }
    &:nth-child(2) {
      transition-delay: 200ms;
    }
    &:nth-child(3) {
      transition-delay: 400ms;
    }
    &:nth-child(4) {
      transition-delay: 600ms;
    }
  }
}
.dFlex{
  display: flex;
}
.justify-space-between{
  justify-content: space-between;
}
.align-items-center{ align-items: center; }

#home__download{
  height: auto;
   
  h2{
    max-width: 80% !important;
    @media (max-width:767px) {
      text-align: center;
      font-size: 24px;
    }
  }
  article{
    padding: 100px 40px;

    @media (max-width:767px) {
     
        flex-direction: column;
        padding:30px 10px;
     
    }


  }
}

.footer{
  margin: 60px auto 30px;
  width: 100%;
 display: grid;
 align-items: center;
 grid-template-columns: 1fr 1fr;
 @media (max-width:767px) {
  grid-template-columns: 1fr;
  .logo{ text-align: center; 
      img{ max-width: 200px; margin-bottom: 20px; }
  }

 }
  .footer-menu{     justify-content: space-around; max-width: 500px;
    grid-template-columns: 1fr 1fr 1fr; display: inline-grid; justify-self: end;
    a{
      color: #000;
      justify-content: center;
      display: grid;
      text-decoration: none;
      transition: all 250ms ease;
      @media (max-width:767px) {
        font-size: 12px;
      }
        &:hover{
          color: #fbbf24;
        }
    }
  }
}



.menuOuter{

    opacity: 0;
    background: #fff;
    padding: 50px;
    position: fixed;
    box-sizing: border-box;
    height: calc(100vh - 116px);
    top: 116px;
    right: -100%;
    transition: all 0.5s ease;
        @media (max-width:767px) {
            top: 74px;
            padding: 10px;
            padding-left: 50px;
            height: calc(100vh - 74px);
        }

      &:after{
        content: '';
        position: fixed;
        right: 0;
        top: 116px;
        background-color: rgba(59,130,246,0.5);
        height: calc(100vh - 116px);
        display: block;
       width: 0;
        transition: all 0.5s ease;
        @media (max-width:767px) {
          top: 74px;
          width: calc(100% - 260px);
          height: calc(100vh - 74px);
        }
      }
    a{
      display: block;
      color: #000;
      font-size: 40px;
      text-decoration: none;
      transition: color 0.5s ease;
      margin-bottom: 30px;
      position: relative;
        &:after{
            width: 0;
            content: '';
            display: block;
            position: absolute;
            left:-50px;
            height: 2px;
            top: 50%;
            background: rgb(251, 191, 36);
            transition: width 0.5s ease;
        }
        &:hover{   color: rgb(251, 191, 36);
            &:after{
             
               width: 50px;
        
            }
        }
    }
      &.showMenu{
        opacity: 1;
        right: 0;
        width: 300px;
        @media (max-width:767px) {
          width: 260px;
        }
        transition: all 0.5s ease;
        &:after{
          right: 300px;
          width: calc(100% - 300px);
          @media (max-width:767px) {
            right: 260px;
            width: calc(100% - 260px);
          }
        }
      
      }

}


























#homeTwo {
 
 
  &__solution{

  grid-template-columns: 40% 30% 30%;
  grid-template-rows: repeat(3, 1fr);

    @media (max-width:767px) {
        display: block;
    }

  .el {

    &-3 {
      grid-column: span 1;
      grid-row: span 3;
      @media (max-width:767px) {
        img{
          position: inherit;
        }
      }
    }
    &-1 {
      grid-column: 1 / 1;
      grid-row: 1 / 3;
      justify-content: center;
      @media (max-width:767px) {
        img{display: none;}
      }
    }
    &-2 {
      grid-column: 1 / 1;
      grid-row: 3 / 4;
      justify-content: flex-end;
      @media (max-width:767px) {
        img{display: none;}
      }
    }
    &-4 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      @media (max-width:767px) {
        img{display: none;}
      }
    }
    &-5 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    &-6 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
  }
    @media (max-width:767px) {
        display: none;
    }
}


&__zerocost{
  grid-template-columns: 60% auto auto;
  grid-template-rows: repeat(2, 1fr);
  .el { 
   
    &-1 {
      grid-column-start: 1;
      grid-column-end: 2;
       grid-row-start: 1;
      grid-row-end: 3;
      

    }

    &-2 {
      grid-column-start: 2;
      grid-column-end: 4;

    }

    .text-el{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    // &-3 {
    //   grid-row: 2 / 3;
    //   grid-column:3 / 4;

    // }

    // &-4 {
    //   grid-row: 2 / 3;
    //   grid-column:4 / 5;

    // }

   
  }
  

}

&__howitwork {
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: repeat(2, 1fr);
      article{
        background-color: #f4f4f4;
      }

  .el { 
   
    &-1 {
      grid-column-start: 1;
      grid-column-end: 2;
       grid-row-start: 1;
      grid-row-end: 3;
        background-image: url(../img/mobile-hand.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        background-color: #000;
            h2{ max-width: 150px !important; }
            p{ max-width: 330px !important; }

    }

   
  }
}
 

}


.register-sec{
  margin: 30px auto;
  padding-top: 150px;
 height: auto;
  border-radius: 20px;
  display:grid;
  width: 100%;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(1, 1fr);

      @media (max-width:990px) {
        padding-top: 60px;
        grid-template-columns: 100%;
      }

    *{
      box-sizing: border-box; 
    }
  h2{ margin-bottom: 20px;  }
  p{ margin-bottom: 30px; color: #374151; }
  h4{  position: relative;
    span{ padding-right: 20px; background: #fff; position: relative; z-index: 1; }
    &:after{
      content: '';
      display: block;
      position: absolute ;
      top: 50%;
      width: 100%;
      height: 1px;
      background: #E5E7EB;
    }

    &.noafter{
      &::after{
        display: none;
      }
    }
  
  }
    .textDescp{
      padding: 10px 30px;
      @media (max-width:990px) {
        padding: 15px;
      }
    }
    .formSec{
      background: #FFFFFF;
      box-shadow: 0px 4px 40px rgba(17, 24, 39, 0.08);
      padding:40px 50px;
      margin: 0 30px;
      
        @media (max-width:1536px) {
          padding:20px 30px;
        }
        @media (max-width:990px) {
          margin: 0;
          box-shadow: none;
          padding: 20px 15px;
        }
        h3{
          margin-bottom: 20px;
        }
    }


}
.groupCol{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:0 6px;
  @media (max-width:767px) {
    grid-template-columns: repeat(1, 1fr);
  }
    .col-2{
      grid-column: span 2;
    }

}

.form-group{
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  flex-direction: column;
   
  label{ display: block; font-weight: 400; margin-bottom: 5px;  width: 100%; font-size: 16px; font-family: "Satoshi-Medium", sans-serif;
      span{
        color: #EF4444;
        }
  }
  .formInput{
    background: #F3F4F6;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    font-family: "Satoshi-Medium", sans-serif;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
      &:focus{ outline: none; }    
  }

  
}
.form-footer{
  display: flex;
  width: 100%;
  justify-content: end;
  @media (max-width:767px) {
      justify-content: center;
  }
}
.customSelect{
  position: relative;
  background: #F3F4F6;
  border-radius: 8px;
    select{
      appearance: none;
      background: none !important;  
      position: relative;z-index: 1;
      font-family: "Satoshi-Medium", sans-serif;

    }
      &::after{
        content: '';
        background: url(../img/select-arrow.svg) no-repeat center;
        display: block;
        width: 30px;
        height: 52px;
        position: absolute;
        top: 0;
        right: 0;
      }
}

.dateFiled{ position: relative;
  .calIcon{
    position: absolute;
    top: 15px;
    left: 15px;

  } 

  .formInput{ padding-left: 40px; }
}


// custom checkbox and radio button 

.radio,
.checkbox {
  padding-left: 20px;
  position: relative;
  display: block;
}
.radio input,
.checkbox input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  margin-left: -20px;
}
.radio input:checked + label::before,
.checkbox input:checked + label::before {
  border-color: #3B82F6;
}
.radio input:checked + label::after,
.checkbox input:checked + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 2px;
  top: 4px;
  margin-left: -20px;
  border: 1px solid #3B82F6;
  border-radius: 50%;
  background-color: #3B82F6;
}
.radio label,
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 6px;
  margin-bottom: 0;
  padding-top: 5px;
}


.radio label::before,
.checkbox label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  top: 2px;
  margin-left: -20px;
  border: 1px solid #E5E7EB;

  border-radius: 50%;
  background-color: #fff;
}


.radio.disabled label,
.checkbox.disabled label {
  color: #ccc;
}
.radio.disabled label::before,
.checkbox.disabled label::before {
  opacity: 0.54;
  border-color: #ccc;
}
.checkbox input:checked + label::before {
  border-color: #3B82F6;
  background-color: #3B82F6;
}
.checkbox input:checked + label::after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: #fff;
  top: 5px;
  left: 3px;
  border-color: transparent;
  background-color: transparent;
  
}
.checkbox label::before {
  border-radius: 4px;
}




.rangeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #F3F4F6;
  border-radius: 4px;
  outline: none;
 
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rangeSlider:hover {
  opacity: 1;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #FBBF24;
  cursor: pointer;
  border-radius:50%;
}

.rangeSlider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #FBBF24;
  cursor: pointer;
}

.radiusRange{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Satoshi-Medium", sans-serif;
}